.technology {
    margin-bottom: 150px;
    &__top {
        background: url('../img/bg/technology__bg.png') center center/cover no-repeat;
        &-inner {
            position: relative;
            min-height: 1294px;
            // min-height: 110vh;
        }
        &-box {
            position: absolute;
            left: 0;
            bottom: 70px;
        }
    }
    &__title {
        margin-bottom: 62px;
        width: 470px;
    }
    &__list {
        margin: 0;
        padding-left: 22px;
        &-item {
            padding-left: 22px;
            margin-bottom: 15px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $black;
        }
    }
}

.gallery {
    &__inner {

    }
    &__box {
        margin-top: 115px;
        display: flex;
        gap: 68px;
    }
    &__text {
        width: 350px;
    }
    &-min {
        position: relative;
        display: grid;
        gap: 30px 24px;
        grid-template-columns: 481px 208px;
        grid-template-rows: 432px 300px;
        // transform: translateY(-50%);
        margin-top: -38%;
        z-index: 1;
        padding: 72px 32px 53px 31px;
        margin-bottom: 150px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            border: 3px solid $black;
            border-radius: 200px 0px 300px;
            z-index: 2;
        }
        &__img-1 {
            grid-column: 1 / 3;
            border-radius: 400px 0px 0px 0px;
        }
        &__img-2 {
            border-radius: 0px 0px 0px 300px;
        }
    }
    &-max {
        &__img {

        }
        &__text {
            background-color: $dark-green;
            width: 300px;
            height: 270px;      
            border: 1px solid #0093A1;
            border-radius: 0px 0px 0px 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: italic;
            font-weight: 800;
            font-size: 32px;
            line-height: 39px;
            color: $white;
            text-align: center;
        }
    }
}