.technology {
    margin-bottom: 150px;
    &__top {
        background: url('../img/bg/technology__bg.png') center center/cover no-repeat;
        &-inner {
            position: relative;
            // min-height: 1294px;
            min-height: 129vh;
        }
        &-box {
            position: absolute;
            left: 0;
            bottom: 70px;
        }
    }
    &__title {
        margin-bottom: 62px;
        width: 470px;
    }
    &__list {
        margin: 0;
        padding-left: 22px;
        &-item {
            padding-left: 22px;
            margin-bottom: 15px;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $black;
        }
    }
}